/* Primary action button (Reset, Edit, etc.) */
.login-button {
  background-color: #007bff;
  color: white;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-button:active {
  background-color: #003f7f;
}

.input-text {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}

.input-text:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.delete-button {
  background-color: #ff4c4c;
  color: white;
}

.delete-button:hover {
  background-color: #cc0000;
}

.delete-button:active {
  background-color: #990000;
}
